*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:#222222;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Montserrat';
    background-color: #fafafa;
}

.section{
    float: left;
    width: 100%
}
header{
    background-image: url("bg.jpg");
}